
h2, h3 {
    text-align: center; 
    border: 2px solid #ccc; 
    padding: 10px;
    border-radius: 8px; 
    margin: 0 auto; 
  }
  
  h2 {
    color: #333; 
    font-size: 28px; 
    font-weight: bold; 
    margin-bottom: 10px; 
  }
  
  h3 {
    color: #555; 
    font-size: 20px; 
    font-weight: normal; 
    margin-bottom: 8px;
  }



  .botao-customizado {
    margin-right: 10px;
  }

  .botoes {
    display: flex;
    margin-top: 5px;
  }
  
  .botoes button {
    padding: 5px 10px;
    margin: 0;
  }
  
  .botoes button.editar {
    background-color: #4CAF50; 
    color: white;
  }
  
  .botoes button.excluir {
    background-color: #f44336; 
    color: white;
  }
  



